.about-stages
  display: flex
  justify-content: center
  .stage
    width: 30%
    margin: 1rem
  @media screen and (max-width: 640px)
    flex-wrap: wrap
  @media screen and (max-width: 480px)
    .stage
      width: 100%