.about-contact
  .contact-block
    width: 34%
    background: none
    text-align: center
    padding: 1rem
    @media screen and (max-width: 480px)
      width: 100%
    .link
      color: $black-light
    .subtitle
      font-weight: 500
      font-size: 1rem
    .img
      margin-bottom: 2rem
  .map-block
    display: flex
    margin-top: 4rem
    @media screen and (max-width: 640px)
      flex-direction: column
      .map, .form-details
        width: 100% !important
        box-sizing: border-box
    .title
      color: $black
      font-size: 1.5rem
      margin: 0 auto 2rem
    .form-details
      width: 40%
      .input
        width: 100%
      .button
        width: 100%
    .map
      width: 60%
      height: auto