.about-worker
  text-align: center
  @media screen and (max-width: 768px) and (min-width: 481px)
    width: 25% !important
    .photo
      height: 14rem !important
  @media screen and (max-width: 480px)
    .photo
      width: 120px !important
      height: 200px !important
      margin: 0 auto
      background-size: contain !important
  .photo
    width: 100%
    height: 28rem
    margin: 0 auto 2rem
    background-size: cover !important
  .title
    font-size: 1.1rem
  .subtitle
    font-size: 1rem
    font-weight: 500
    color: $brown-lite
  &_job
    .title
      font-size: 1.6rem