.about-block
  display: flex
  justify-content: space-between
  margin: auto
  .about
    width: 50%
    @media screen and (max-width: 640px)
      width: 100%
    & .subtitle
      color: $grey-dark
      margin: 2rem 0
      font-weight: 500
    & .signature
      display: flex
      .img
        border-radius: 50%
        width: 6rem
        height: 6rem
        margin-right: 2rem
      .name
        font-weight: 700
        font-size: 1.4rem
        @media screen and (max-width: 640px)
          font-size: 1.2rem
      .social
        text-align: left
  .images
    width: 40%
    @media screen and (max-width: 640px)
      display: none
  .about-image
    width: 100%
    height: 8rem
    margin-top: 2rem
    background-size: cover !important