.banners
  position: relative
  z-index: 1
  .slider-nav
    position: absolute
    display: inline-flex
    left: 2rem
    bottom: 3rem
    margin: 0
    @media screen and (max-width: 900px)
      left: 0
      right: 0
      margin: auto
      justify-content: center