.banner
  width: 100%
  padding: 2rem 0 4rem
  background: $black-light center
  background-size: cover
  text-align: center
  .title
    color: $brown
  .subtitle
    color: $white
    font-size: 1.4rem
    margin-bottom: 2rem
  @media screen and (max-width: 900px)
    padding-bottom: 10rem