.burger
  display: block
  height: 1px
  left: 50%
  margin-left: -14px
  position: absolute
  top: 50%
  background: $white
  -webkit-transition: none 86ms ease-out
    transition: none 86ms ease-out
    -webkit-transition-property: background, left, opacity, -webkit-transform
    transition-property: background, left, opacity, -webkit-transform
    transition-property: background, left, opacity, transform
    transition-property: background, left, opacity, transform, -webkit-transform
  width: 24px

  &:nth-child(1)
    margin-top: -6px

  &:nth-child(3)
    margin-top: 6px