.button
  display: inline-block
  color: $white
  background: $blue
  width: auto
  border-radius: 3rem
  font-weight: 700
  font-size: 1.1rem
  padding: 1rem 2rem
  min-width: 8rem
  text-align: center
  transition: 0.3s
  position: relative
  &:hover
    background: $brown

  &_large
    padding: 1.8rem 2rem
    border-radius: 4rem

  &_brown
    background: $brown url("/img/cafe-wallpaper.png") no-repeat

  &_white-brown
    background: none
    border: 2px solid $brown
    color: $grey-dark
    &:hover
      background: none
      color: $brown

  &_white
    background: $white
    color: $black
    &:hover
      background: $brown
      color: $white

  @media screen and (max-width: 420px)
    padding: 0.8rem 1.6rem
    min-width: 6rem