.call-form
  .top-image
    width: 100%
    height: 500px
    background: $brown center
    background-size: cover
    position: relative
    .slider-nav
      position: absolute
      left: 0
      right: 0
      top: 40%
      display: flex
      justify-content: space-between
      @media screen and (max-width: 640px)
        display: none
      .slider-arrow
        margin: 2rem
    @media screen and (max-width: 768px)
      height: 300px
      .slider-nav
        .slider-arrow
          margin: 1rem


  &_brown
    .form-details
      background: $brown
      .title, .subtitle
        color: $white
      .input
        background: $white
        &:hover
          border: 1px solid $brown-lite
        &:focus
          border: 1px solid $brown-lite
          background: $white-brown
      .button:hover
        background: $white
        color: $brown