.contact
  color: #5d5d5d
  .map
    height: 20rem
  .contact-block
    background: $white
    padding: 3rem 2rem 0
    .img
      max-height: 2rem
    .subtitle
      margin-top: 0.6rem
    .social
      text-align: left
      margin-top: 0
      padding-bottom: 3rem
    .link
      color: $black-light
      padding-bottom: 0.3rem
      line-height: 2
      &:hover
        color: $blue
        border-bottom: 1px solid $border-color
  .contact-block_flex
    display: flex
    align-items: flex-start
    .img
      width: 1.2rem
      height: auto
      margin-right: 3rem
      padding-top: 0.5rem
      @media screen and (max-width: 420px)
        margin-right: 1.5rem
    .subtitle
      margin-top: 0
      margin-bottom: 0.6rem