.event-inside
  text-align: center
  padding: 4rem 0
  .event-details
    max-width: 800px
    margin: auto
    .subtitle
      text-align: left
      margin-top: 1rem
    .event-time
      font-size: 1.1rem
      font-weight: 600
      line-height: 1.6
      margin: 2rem 0
    .price
      margin-top: 4rem
    .event-cover
      margin-top: 6rem
      width: 100%
      .img
        max-width: 100%