.events-stages
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 2rem -1rem
  .stage
    width: 45%
    position: relative
    text-align: center
    box-sizing: border-box
    padding: 2rem
    margin: 0.5rem
    background: $black
    overflow: hidden
    @media screen and (min-width: 1201px)
      min-height: 22rem
      .title
        min-height: 4rem
      .subtitle
        min-height: 4rem
    @media screen and (max-width: 1200px)
      min-height: 26rem
      .title
        min-height: 6rem
      .subtitle
        min-height: 6rem
    @media screen and (max-width: 640px)
      min-height: 20rem
      .title
        min-height: 0
      .subtitle
        min-height: 0
    @media screen and (max-width: 480px)
      min-height: 24rem
    @media screen and (max-width: 320px)
      min-height: 0
      .subtitle
        display: none
      .button
        margin-top: 0 !important
    &:hover
      .event-background
        opacity: 0.8
      .button
        background: $blue
      .title
        color: $brown
      .subtitle
        opacity: 0
      .button
        margin-top: -4rem
    @media screen and (max-width: 640px)
      width: 100%
    //@media screen and (min-width: 1200px)
      width: 30%
    .event-background
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-size: cover
      position: absolute
      z-index: 1
      opacity: 0.4
      transition: 0.6s
    .event-content
      position: relative
      z-index: 3
      max-width: 420px
      margin: auto
    .event-shadow
      position: absolute
      z-index: 2
      width: 100%
      left: 0
      top: -300px
      height: 300px
      box-shadow: 0 12rem 6rem rgba(0, 0, 0, 0.6)
    .date
      text-align: center
      color: $brown
      font-weight: 300
      font-size: 1.4rem
      transition: 0.3s
    .title
      display: block
      margin: 1.5rem 0 2.5rem
      font-size: 1.2rem
      font-family: 'HelveticaNeueCyr' !important
      color: $white
      position: relative
      line-height: 1.4
      transition: 0.6s
      &:before
        content: " "
        width: 6rem
        height: 3px
        background: $brown-lite
        position: absolute
        bottom: -1rem
        margin: auto
        left: 0
        right: 0
    .subtitle
      color: $white
      font-size: 0.9rem
      margin-bottom: 1rem
      transition: 0.6s
    .button
      background: $brown-bright
      font-size: 1rem
      font-weight: 500
      padding: 0.8rem 1.4rem
      transition: 0.6s