.event
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  background: $white
  padding: 2rem
  margin-bottom: 3rem
  position: relative
  .event-cover
    width: 25%
    text-align: center
    @media screen and (max-width: 900px)
      width: 100%
      margin-bottom: 2rem
    .img
      width: 220px
      height: 220px
      border-radius: 50%
      background: $black-light center
      background-size: cover
      margin: 0 auto 2rem
      @media screen and (max-width: 1260px)
        width: 160px
        height: 160px
      @media screen and (max-width: 900px)
        width: 120px
        height: 120px
    .map-link
      color: $grey-dark
      font-weight: 700
      .map-marker
        margin-right: 1rem
        max-width: 1rem
  .event-details
    width: 50%
    @media screen and (max-width: 900px)
      width: 100%
    .title
      color: $brown
      margin: 0
    .subtitle
      margin: 2rem 0
    .button
      margin: 0 0.8rem 0.8rem 0
  .event-time
    width: 10%
    font-size: 1.4rem
    .time
      font-weight: 700
    .date
      font-weight: 300
    @media screen and (max-width: 900px)
      position: absolute
      top: 2rem
      right: 2rem
      font-size: 1.2rem