.form-details
  background: $white
  padding: 2rem
  @media screen and (max-width: 480px)
    padding: 2rem 0
  .container
    max-width: 640px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    text-align: center
  .title
    color: $brown
  .subtitle
    margin-bottom: 2rem
    color: $grey
  .input
    background: $grey-light
    color: $grey-dark
    border-radius: 2rem
    padding: 1.2rem
    margin: 0 2% 2rem
    border: 1px solid #e5e5e5
    transition: 0.3s
    width: 100%
    box-sizing: border-box
    text-align: center
    font-size: 1rem
    transition: 0.3s
    &::placeholder
      color: #c3c2c2
      font-weight: 700
    &:hover
      border: 1px solid $brown
    &:focus
      border: 1px solid $brown
      background: $white
    &_phone
      width: 58%
      @media  screen and (max-width: 900px)
        width: 100%
  .button
    padding: 1.2rem
    font-size: 1rem
    width: 32%
    margin: 0 2%
    @media  screen and (max-width: 900px)
      width: 100%