.half-slider
  width: 100%
  position: relative
  .slide
    display: flex
    position: relative
    background: $white
    overflow: hidden
  .slide-photo
    width: 50%
    background-size: cover !important
    position: relative
    z-index: 3
  .slide-content
    width: 50%
    box-sizing: border-box
    padding: 1rem 3rem
    position: relative
    z-index: 2
    .subtitle
      font-size: 1rem
  .slide-shadow
    position: absolute
    z-index: 1
    width: 100%
    left: -50%
    top: -400px
    height: 400px
    box-shadow: 0 20rem 10rem rgba(0,0,0,0.1)
  .slider-nav
    z-index: 5
    position: absolute
    left: 46%
    top: 50%
    @media screen and (max-width: 1050px)
      left: 45%
    @media screen and (max-width: 640px)
      top: 240px
    @media screen and (max-width: 420px)
      left: 38%

  @media screen and (max-width: 640px)
    .slide
      flex-direction: column
    .slide-photo
      height: 200px
      width: 100%
    .slide-content
      width: 100%
      padding: 2rem 2rem 1rem
    .slide-shadow
      left: 0
      top: -500px
      height: 400px
      box-shadow: 0 20rem 10rem rgba(0,0,0,0.1)