.header-content
  padding-top: 4rem
  width: 80%
  max-width: 900px
  @media screen and (max-width: 768px)
    padding-top: 2rem
  @media screen and (max-width: 480px)
    width: 100%
    .subtitle
      width: 100%
  .title
    color: $brown
  .subtitle
    color: $grey-dark
    width: 70%
    margin-top: 3rem
    @media screen and (max-width: 640px)
      width: 90%
  .button
    margin-top: 3rem