.header-bg
  position: absolute
  width: 80%
  overflow: hidden
  top: 0
  right: 0
  z-index: -1
  margin-right: -40%
  margin-top: -14%
  @media screen and (min-width: 1400px)
    width: 60%
    margin-right: -20%
  @media screen and (max-width: 1200px)
    margin-top: 4%
  @media screen and (max-width: 900px)
    margin-top: 20%
  @media screen and (max-width: 640px)
    margin-top: 30%
    margin-right: -50%
  @media screen and (max-width: 480px)
    display: none
  .img
    width: 100%
    height: 100%