html
  font-size: 18px
  @media screen and (max-width: 768px)
    font-size: 16px

html, body
  padding: 0
  margin: 0
  overflow-x: hidden

body
  background: #fffff6 url("/img/bg.jpg")

body, input, textarea, button
  font-family: "HelveticaNeueCyr"
  font-weight: normal
b
  font-weight: 700

ul
  margin: 0

li
  list-style-type: none

a
  text-decoration: none

p
  margin: 0

a, input, textarea, select, button
  outline: none
  border: none

button
  cursor: pointer