.menu
  background: $black-light url("/img/menu-bg.jpg") no-repeat
  background-size: cover
  max-width: 480px
  width: 20%
  height: 100%
  position: fixed
  left: 0
  top: 0
  font-weight: 500
  letter-spacing: 2px
  z-index: 100
  .social-icon
    border: 1px solid $grey-dark
  @media screen and (max-width: 900px)
    width: 100%
    height: auto
    max-width: none
    .logo
      max-width: 5rem
      margin: 1rem auto
    .menu-content
      display: none
      min-height: 100vh
