.more-button
  display: flex
  justify-content: space-between
  align-items: center
  margin: 4rem 0 0
  width: 100%
  @media screen and (max-width: 1200px) and (min-width: 901px)
    margin: 16rem 0 4rem
  .button
    background: none
    color: $grey-dark
    border: 1px solid $grey-light
    font-weight: 700
    min-width: 12rem
    &:hover
      color: $blue
  .line
    width: 50%
    height: 1px
    background: $grey-light