.nav-circles
  display: flex
  .slider-button
    display: block
    width: 0.8rem
    height: 0.8rem
    padding: 0
    margin: 0 0.6rem 0 0
    border: 1px solid $brown-bright
    background: $white
    border-radius: 50%
    &_active
      background: $brown-bright
