.nav-link
  width: 100%
  display: block
  color: $white
  font-size: 1.1rem
  padding: 0.6rem 0
  @media screen and (max-width: 1200px) and (min-width: 901px)
    font-size: 0.9rem
  @media screen and (max-width: 768px)
    padding: 1rem 0

  &:hover
    color: $brown-lite