.nav-item
  padding: 0 1.4rem
  @media screen and (min-width: 1201px)
    padding: 0 3rem
  &_active
    background: $black
    border-left: 5px solid $brown-lite
    padding: 0 2rem 0 1.2rem
    @media screen and (min-width: 1201px)
      padding: 0 2.7rem