.page-header
  width: 100%
  padding: 4rem 0
  background: $black
  background-size: cover
  text-align: center
  position: relative
  overflow: hidden
  @media screen and (max-width: 1050px)
    margin-top: -2rem

  & .img
    opacity: 0.5
    top: 0
    left: 0
    width: 100%
    min-width: 500px
    position: absolute
    background-size: cover

  .container
    z-index: 1
    position: relative
    &_back
      display: flex
      justify-content: space-between
      align-items: center
      @media screen and (max-width: 640px)
        div:last-child
          display: none
      .slider-arrow
        box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1)