.page-back-header
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and (max-width: 640px)
    div:last-child
      display: none
  .slider-arrow
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1)
