.parallax
  position: relative
  z-index: 1
  height: 100%
  width: 100%

#parallax-header
  background: url(/img/bg1.png) no-repeat right top fixed
  background-size: 100%

#parallax-footer
  background: url(/img/bg2.png) no-repeat left bottom fixed
  background-size: cover

#parallax-center
  background: url(/img/bg3.png) no-repeat left top fixed
  background-size: 100%
