.products-stages
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  .stage
    width: 46%
    display: flex
    align-items: flex-start
    justify-content: space-between
    font-family: 'HelveticaNeueCyr'
    margin-bottom: 2rem
    .photo
      width: 4rem
      height: 4rem
      border-radius: 50%
    .product-details
      width: 50%
      margin: 0 1rem
    .title
      font-size: 1.4rem
      font-family: 'HelveticaNeueCyr'
      font-weight: 700
      color: $brown-bright
      margin: 0 0 1rem
    .subtitle
      font-size: 0.8rem
    .price
      font-size: 2.4rem
      font-family: 'Klementina'
      color: $brown-bright
      & .valute
        font-size: 1.2rem
    @media screen and (max-width: 1200px)
      .price
        font-size: 1.8rem
        & .valute
          font-size: 1rem
    @media screen and (max-width: 1200px) and (min-width: 769px)
      .product-details
        width: 35%
      .title
        font-size: 1.2rem
    @media screen and (max-width: 480px)
      .product-details
        width: 35%
      .title
        font-size: 1.1rem
    @media screen and (max-width: 768px)
      width: 100%