.product
  width: 100%
  display: flex
  align-items: flex-start
  @media screen and (max-width: 900px)
    flex-direction: column
    margin-bottom: 2rem
  .product-image
    width: 50%
    height: 400px
    background: $brown center
    background-size: cover
    position: relative
    .view-open
      position: absolute
      left: 0
      right: 0
      margin: auto
      top: 36%
    @media screen and (max-width: 900px)
      width: 100%
      height: 240px
      order: 1
      .view-open
        display: none
  .product-details
    width: 50%
    padding: 2rem 3rem
    @media screen and (max-width: 900px)
      width: 100%
      padding: 2rem 0
      order: 2
    .category
      color: $brown
      font-size: 1rem
      padding: 0.8rem
      background: none
      border: 2px solid $grey-light
      &:hover
        background: $brown
        color: $white
        border: 2px solid $brown-lite
    .title
      color: $brown-lite

  &_right
    .product-details
      text-align: right
      @media screen and (max-width: 900px)
        text-align: left

  &_full
    position: relative
    margin: 2rem 0 8rem
    .product-image
      position: static
    @media screen and (max-width: 1200px)
      margin: 2rem 0 12rem
    @media screen and (max-width: 900px)
      margin-bottom: 2rem
    .product-image
      width: 100%
      height: 500px
      @media screen and (max-width: 900px)
        height: 240px
    .product-details
      position: absolute
      left: 3rem
      top: 3rem
      padding-bottom: 3rem
      background: $white
      @media screen and (max-width: 900px)
        width: 100%
        position: static
        padding-bottom: 0
        background: none