.sale-date
  color: $black-light !important
  background: none !important
  border: 2px solid $grey-light
  font-size: 1rem
  padding: 0.8rem
  font-family: "HelveticaNeueCyr"
  &_super
    text-transform: uppercase
    text-align: center
    font-weight: 700
    font-size: 1.1rem
    border: none
