.slider-arrow
  width: 3rem
  height: 3rem
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0.5rem
  background: $white
  border-radius: 50%
  transition: 0.3s
  opacity: 1
  &:hover
    opacity: 0.9
  .arrow
    width: 0.6rem
    height: 0.6rem

  .arrow-left
    transform: rotate(-90deg)

  .arrow-right
    transform: rotate(90deg)
