.slider-button
  font-size: 1rem
  padding: 0.75rem 1rem
  margin: 0 0.5rem
  border: 3px solid #e1e1e1
  color: #d59002
  background: #e1e1e1
  border-radius: 50%
  transition: 0.3s
  &:hover
    color: $white
    background: $brown-lite
    border: 3px solid $brown-lite
  &_active
    background: $brown-lite
    border: 3px solid #e1e1e1
    color: $white
    &:hover
      border: 3px solid #e1e1e1
