.social-icon
  width: 3rem
  height: 2rem
  text-align: center
  padding-top: 1rem
  margin: 0 1%
  border: 1px solid $brown-light
  color: $brown-light
  border-radius: 50%
  transition: 0.3s
  &:hover
    color: $white
  &_type_vk
    &:hover
      color: $vk-color
      border: 1px solid $vk-color
  &_type_facebook
    &:hover
      color: $facebook-color
      border: 1px solid $facebook-color
  &_type_instagram
    &:hover
      color: $instagram-color
      border: 1px solid $instagram-color

