.social
  margin-top: 8%
  text-align: center
  font-size: 1rem

  &_medium
    .social-icon
      width: 2.5rem
      height: 1.7rem
      text-align: center
      padding-top: 0.8rem
      font-size: 1rem

  &_large
    .social-icon
      width: 3.5rem
      height: 2.5rem
      text-align: center
      padding-top: 1rem
      font-size: 1.5rem

  &_color
    .social-icon_type_vk
      background: $vk-color-lite
      border-color: $vk-color-lite
      color: $white !important
      &:hover
        background: $vk-color
    .social-icon_type_facebook
      background: $facebook-color-lite
      border-color: $facebook-color-lite
      color: $white !important
      &:hover
        background: $facebook-color
    .social-icon_type_instagram
      background: $instagram-color-lite
      border-color: $instagram-color-lite
      color: $white !important
      &:hover
        background: $instagram-color
