.tabs
  display: flex
  flex-wrap: wrap
  justify-content: center
  .tab
    font-size: 1.1rem
    font-weight: 500
    color: #000000
    padding: 0.8rem 2rem
    border-radius: 3rem
    border: 1px solid $border-color
    margin: 0.5rem 0.8rem
    transition: 0.3s
    @media screen and (max-width: 1050px)
      font-size: 1rem
      padding: 0.6rem 1.8rem
    @media screen and (max-width: 900px)
      font-size: 0.9rem
      padding: 0.4rem 1.4rem
      margin: 0.3rem
    @media screen and (max-width: 768px)
      font-size: 0.8rem
      padding: 0.4rem 1.2rem
    &:hover, &:focus
      color: $brown-lite
    &_active
      background: $brown-lite
      color: $white !important
      border-color: $brown-lite
      &:hover, &:focus
        background: $brown !important
    &_focus
      background: $blue
      color: $white
      &:hover, &:focus
        background: $blue-dark !important