.title
  display: block
  color: $black
  font-family: "Adelle Cyrillic"
  font-size: 2.25rem
  line-height: 1.2
  font-weight: 700
  letter-spacing: 1px
  margin: 1rem 0

  &_large
    font-size: 3.2rem
    @media screen and (max-width: 1200px)
      font-size: 2.8rem !important
    @media screen and (max-width: 768px)
      font-size: 2.2rem !important


  &_medium
    font-size: 1.8rem
    @media screen and (max-width: 768px)
      font-size: 1.5rem

  &_italic
    font-family: "Klementina"
    font-weight: normal

  &_centered
    text-align: center

  &_color_brown
    color: $brown-lite

  &_color_white
    color: $white

  &_color_black
    color: $black !important

  &_size_small
    font-size: 1.2rem !important
    line-height: 1.6

  @media screen and (max-width: 768px)
    font-size: 2rem

  @media screen and (max-width: 480px)
    font-size: 1.4rem