.top-button
  color: $brown
  font-size: 1rem
  padding: 0.8rem
  background: none
  border: 2px solid $grey-light
  position: relative
  &:hover
    background: $brown
    color: $white
    border: 2px solid $brown-lite

