.tort-order
  background: url("/img/tort-order-bg.jpg") center
  background-size: cover
  width: 100%
  padding: 1.2rem 0
  text-align: center
  margin: 20% 0
  @media screen and (max-width: 900px)
    margin: 5% 0
  .button
    font-size: 1rem
    padding: 0.8rem 1rem
    letter-spacing: 0
    @media screen and (max-width: 1200px) and (min-width: 901px)
      font-size: 0.9rem
      padding: 0.8rem 0.6rem