.vacancies
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  .vacancies-details
    width: 40%
    .subtitle
      margin-bottom: 2rem
    @media screen and (max-width: 900px)
      width: 100%
      margin-bottom: 4rem
  .vacancies-count
    width: 50%
    @media screen and (max-width: 900px)
      width: 100%
    //height: 500px
    background: $black-light center
    background-size: cover
    .count-block
      background: $white
      width: 60%
      margin-top: 14rem
      margin-left: -2rem
      padding: 3rem
      text-align: center
      box-shadow: 0 0 2rem rgba(0,0,0,0.1)
      .subtitle
        color: $grey-dark
      .count
        font-family: "Playfair Display"
        font-size: 10rem
        margin-top: -12rem
        font-weight: 900
        color: $brown
        @media screen and (max-width: 900px)
          font-size: 8rem
          margin-top: -9rem
        @media screen and (max-width: 640px)
          font-size: 6rem