.view-open
  display: flex
  justify-content: center
  align-items: center
  width: 5rem
  height: 5rem
  border-radius: 50%
  border: 1px solid $white
  opacity: 0.6
  transition: 0.3s
  &:hover
    opacity: 1
  .img
    width: 2rem
