.we-digits
  .title
    font-family: "Playfair Display"
    font-size: 5rem
    color: $white
    margin-bottom: 2rem
    @media screen and (max-width: 640px)
      font-size: 3rem
  .subtitle
    color: $brown-lite
    font-weight: 500
    font-size: 1.2rem
    padding: 0 2rem
    line-height: 1.2
    @media screen and (max-width: 640px)
      padding: 0
      font-size: 1rem