.we-people
  .slider-nav
    display: flex
    justify-content: center
    margin: 1rem 0
    .slider-arrow
      background: none
      border: 1px solid $brown-lite
      &:hover
        background: $white