@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-Light.eot');
	src: local('Adelle Cyrillic Light'), local('AdelleCyrillic-Light'),
	url('AdelleCyrillic-Light.eot?#iefix') format('embedded-opentype'),
	url('AdelleCyrillic-Light.woff') format('woff'),
	url('AdelleCyrillic-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-LightItalic.eot');
	src: local('Adelle Cyrillic Light Italic'), local('AdelleCyrillic-LightItalic'),
	url('AdelleCyrillic-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('AdelleCyrillic-LightItalic.woff') format('woff'),
	url('AdelleCyrillic-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-Italic.eot');
	src: local('Adelle Cyrillic Italic'), local('AdelleCyrillic-Italic'),
		url('AdelleCyrillic-Italic.eot?#iefix') format('embedded-opentype'),
		url('AdelleCyrillic-Italic.woff') format('woff'),
		url('AdelleCyrillic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic.eot');
	src: local('Adelle Cyrillic'), local('AdelleCyrillic'),
		url('AdelleCyrillic.eot?#iefix') format('embedded-opentype'),
		url('AdelleCyrillic.woff') format('woff'),
		url('AdelleCyrillic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-SemiBoldItalic.eot');
	src: local('Adelle Cyrillic SemiBold Italic'), local('AdelleCyrillic-SemiBoldItalic'),
	url('AdelleCyrillic-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('AdelleCyrillic-SemiBoldItalic.woff') format('woff'),
	url('AdelleCyrillic-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}


@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-SemiBold.eot');
	src: local('Adelle Cyrillic SemiBold'), local('AdelleCyrillic-SemiBold'),
	url('AdelleCyrillic-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('AdelleCyrillic-SemiBold.woff') format('woff'),
	url('AdelleCyrillic-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-BoldItalic.eot');
	src: local('Adelle Cyrillic Bold Italic'), local('AdelleCyrillic-BoldItalic'),
		url('AdelleCyrillic-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AdelleCyrillic-BoldItalic.woff') format('woff'),
		url('AdelleCyrillic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-Bold.eot');
	src: local('Adelle Cyrillic Bold'), local('AdelleCyrillic-Bold'),
		url('AdelleCyrillic-Bold.eot?#iefix') format('embedded-opentype'),
		url('AdelleCyrillic-Bold.woff') format('woff'),
		url('AdelleCyrillic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-Extrabold.eot');
	src: local('Adelle Cyrillic Extrabold'), local('AdelleCyrillic-Extrabold'),
	url('AdelleCyrillic-Extrabold.eot?#iefix') format('embedded-opentype'),
	url('AdelleCyrillic-Extrabold.woff') format('woff'),
	url('AdelleCyrillic-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Cyrillic';
	src: url('AdelleCyrillic-ExtraboldItalic.eot');
	src: local('Adelle Cyrillic Extrabold Italic'), local('AdelleCyrillic-ExtraboldItalic'),
		url('AdelleCyrillic-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
		url('AdelleCyrillic-ExtraboldItalic.woff') format('woff'),
		url('AdelleCyrillic-ExtraboldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}



