@font-face {
    font-family: 'Klementina';
    src: url('Klementina.eot');
    src: url('Klementina.eot?#iefix') format('embedded-opentype'),
        url('Klementina.woff') format('woff'),
        url('Klementina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
