@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
	url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Light.woff') format('woff'),
	url('HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-LightItalic.eot');
	src: local('HelveticaNeueCyr-LightItalic'),
	url('HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-LightItalic.woff') format('woff'),
	url('HelveticaNeueCyr-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
	url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Roman.woff') format('woff'),
	url('HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Italic.eot');
	src: local('HelveticaNeueCyr-Italic'),
	url('HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Italic.woff') format('woff'),
	url('HelveticaNeueCyr-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Medium.woff') format('woff'),
		url('HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-MediumItalic.eot');
	src: local('HelveticaNeueCyr-MediumItalic'),
	url('HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-MediumItalic.woff') format('woff'),
	url('HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
	url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Bold.woff') format('woff'),
	url('HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-BoldItalic.eot');
	src: local('HelveticaNeueCyr-BoldItalic'),
		url('HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-BoldItalic.woff') format('woff'),
		url('HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

